<app-nav></app-nav>
<section class="block">
  <h2>Address</h2>
  <div fxLayout="row" fxLayoutGap="3%">
    <div class="container" fxFlex="75%">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5%" fxLayoutGap.lt-md="0%">
          <div fxLayout="column">
            <div class="row-detail">
              <div class="label">Address:</div>
              <div class="value"><span #addressref>{{address}}</span><mat-icon id="address">content_copy</mat-icon></div>
            </div>
            <div class="row-detail">
                <div class="label">Balance:</div>
                <div class="value">{{balance}} <span class="subdetail">({{balanceInFiat}})</span></div>
              </div>
              <div class="row-detail">
                <div class="label">Total received:</div>
                <div class="value">{{totalReceived}}</div>
              </div>
              <div class="row-detail">
                <div class="label">Total sent:</div>
                <div class="value">{{totalSent}}</div>
              </div>
          </div>
        </div>
      </div>
      <div class="container" fxFlex="25%">

      </div>
  </div>
  
  <div class="container">
    <h3 *ngIf="transactionCount <= 1; else transactions">{{transactionCount}} Transaction</h3>
    <ng-template #transactions><h3>{{transactionCount}} Transactions</h3></ng-template>
    <app-table [columns]="txColumns" [rows]="txRows" (clickEvent)="onClick($event)"></app-table>
  </div>
</section>